body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: rgb(8,79,204);
    background: linear-gradient(0deg, rgba(8,79,204,1) 0%, rgba(0,64,92,1) 100%);
    
}
* {
    box-sizing: border-box;   
}
body > div {
    box-shadow: -10px 10px 20px #662549;
    border: solid 1px darkblue;
}

#content {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    background-color: red;
    background: linear-gradient(0deg, rgba(8,79,204,1) 0%, rgba(0,64,92,1) 100%);
    padding: 10px;
}
#content header {
    width: 100%;
    height: 10%;
}

#content main {
    position: relative;
    height: 80%;
    width: 80%;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    background-color: red;
    /* overflow-y: scroll;
 */    line-height: 1.2;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#content footer {
    position: absolute; 
    bottom: 0;
    padding: 0px;
    height: 10%;
    background-color: violet;
}
#content footer input {
    height: 22px;
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 250px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}
        
#content aside {
    width: 20%;
    float: right;
    margin: 0px;
    padding: 5px;
    height: 80%;
    background-color: green;
    line-height: 1;
    font-size: 14px;
}

.hill3 {
    width:600px;
    height:1000px;
    background:#002142;
    z-index:130;
    /*border:1px solid red;*/
    border-radius:30px;
    transform:rotate(45deg);
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
    margin-top:100px;
    position:absolute;
    margin-left:50px;

    background:linear-gradient(to bottom right, #002142, #27435F)
}        
main {
  display: grid;
  grid-template: 15% 70% 15% / 15% 70% 15%;
  
}
main #otherPlayer1 {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-content: center;
    background : violet;
    flex-direction: row-reverse;
}
main #otherPlayer2 {
    
    display: block;
    margin:auto;
    flex-wrap :nowrap;
    flex-shrink: 0;
    grid-row-start: 2;
    grid-column-start:1;
    background-color: gold;
    
}
main #otherPlayer3 {
  display: block;
  margin:auto;
  grid-row-start: 2;
  grid-column-start:3;
  transform: rotate(0deg);
  background-color: greenyellow;
  
}
main #myCards {
  grid-row-start: 3;
  grid-column-start:2;
  display: flex;
  justify-content: center;
  align-items: end;
  
  background-color: blue;
}

main #gameBoard {
  grid-row-start: 2;
  grid-column-start:2;
  display: flex;
  justify-content: center;
  background-color: black;
}
.card{
  display: flex;
    height: 140px;
    width: 100px;
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

#myCards .card {
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    bottom: 10px;
  }
  
  #myCards .card:not(:first-child) {
      margin-left: -50px;
  }
  
  #myCards .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  #myCards .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  #otherPlayer1 .card {
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    right: 0px;
  }
  
  #otherPlayer1 .card:not(:first-child) {
      margin-right: -50px;
  }
  
  #otherPlayer1 .card:hover {
    transform: translateY(20px);
    transition: 0.4s ease-out;
  }
  
  #otherPlayer1 .card:hover ~ .card {
    position: relative;
    right: 50px;
    transition: 0.4s ease-out;
  }


  #otherPlayer2 .card {
    rotate: 90deg;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    top: 0px;
    left: 0px
  }
  
  #otherPlayer2 .card:not(:first-child) {
      margin-top: -100px;
  }
  
  #otherPlayer2 .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  #otherPlayer2 .card:hover ~ .card {
    position: relative;
    transition: 0.4s ease-out;
    top: 60px;
  }


  #otherPlayer3 .card {
    rotate: 270deg;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    top:0px;
  }
  
  #otherPlayer3 .card:not(:first-child) {
      margin-top: -100px;
  }
  
  #otherPlayer3 .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  #otherPlayer3 .card:hover ~ .card {
    position: relative;
    top: 60px;
    transition: 0.4s ease-out;
  }
  
body > div, body > input[type=radio] {
    display: none;   
}
        
input[type=radio]:checked + div {
    display: block;   
}
    
        
#logScreen {
    background: rgba(200, 200, 200, 0.8);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
#logScreen input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}

