html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
    text-decoration: none;
    overflow: hidden;
}
* {
    box-sizing: border-box;   
}
body > div {
    box-shadow: -10px 10px 20px #662549;

}

@font-face {
  font-family: 'Hanami';
  src: url(./nuku1.ttf) format('truetype');
}

#content, .container{
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    background: rgb(74,93,130);
    background: linear-gradient(0deg, rgba(74,93,130,1) 0%, rgba(31,70,124,1) 9%, rgba(10,14,40,1) 83%); 
    padding: 10px;
}
#content header {
    width: 100%;
    height: 10%;
    display: flex;
    z-index: 100;
}

#content header h2{
  color: white;
  font-family: "Hanami";
  font-size: xx-large;
  text-shadow: #000 2px 2px 2px;
}

#content header h3{
  display: block;
  margin-left:100px;
  margin-top: 35px;
  color: white;
  font-family: "Hanami";
  font-size: x-large;
  text-shadow: #000 2px 2px 2px;
}

#content main {
  position: relative;
  z-index: 100;
  height: 80%;
  width: 80%;
  box-shadow: 0 10px 30px 5px rgba(255,255, 255, 0.4);
  border-radius: 20px;
  line-height: 1.2;
  display: grid;
  grid-template: 15% 70% 15% / 15% 70% 15%;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#content footer {
    z-index: 100;
    position: absolute; 
    bottom: 0;
    padding: 0px;
    height: 10%;
}
#content footer input {
    height: 22px;
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 250px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}
        
#content aside {
    z-index: 101;
    width: 20%;
    float: right;
    margin: 0px;
    padding: 5px;
    height: 80%;
    line-height: 1;
    font-size: 14px;
    box-shadow: 0 10px 30px 5px rgba(255,255, 255, 0.4);
    border-radius: 30px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#content aside p{
  color: white;
  font-family: fantasy;
  font-size: large;
  text-shadow: hsl(0, 0%, 0%) 2px 2px 2px;
  margin-left: 20px;
}

#content > .stars{
  z-index: 0;
}
.hill3 {
    width:600px;
    height:1000px;
    background:#002142;
    z-index:2;
    /*border:1px solid red;*/
    border-radius:50px;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
    margin-top:100px;
    position:absolute;
    margin-left:0px;
    bottom: -700px;
    background:linear-gradient(to bottom right, #002142, #27435F);
    animation: transitionLobby 200s ease-out; 
}
.hill2 {
  width:800px;
  height:1000px;
  background:#002142;
  z-index:3;
  /*border:1px solid red;*/
  border-radius:50px;
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top:100px;
  position:absolute;
  margin-left:1050px;
  bottom: -700px;
  background:linear-gradient(to bottom right, #002142, #27435F);
  animation: transitionLobby 200s ease-out; 
}        

.hill1 {
  width:850px;
  height:1000px;
  animation: transitionLobby 200s ease-out; 
  background:#002142;
  z-index:3;
  /*border:1px solid red;*/
  border-radius:50px;
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top:100px;
  position:absolute;
  margin-left:-450px;
  bottom: -600px;
  background:linear-gradient(to bottom right, #002142, #27435F)
}

.hill0 {
  width:850px;
  height:1000px;
  background:#002142;
  z-index: 2;
  animation: transitionLobby 200s ease-out; 
  /*border:1px solid red;*/
  border-radius:50px;
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top:100px;
  position:absolute;
  margin-left:1250px;
  bottom: -600px;
  background:linear-gradient(to bottom right, #002142, #27435F)
}

.plain {
  width:1000px;
  height:1000px;
  animation: transitionLobby 200s ease-out; 
  z-index: 1;
  /*border:1px solid red;*/
  border-radius:400px;
  
  box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.5);
  margin-top:100px;
  position:absolute;
  margin-left:450px;
  bottom: -800px;
  background: #1a5523
}

.moon {
  width:200px;
  height:200px;
  z-index: 4;
  display: block;
  /*border:1px solid red;*/
  border-radius:50%;
  rotate: 45deg;
  box-shadow: 0px 1px 30px 0px rgba(255, 255, 255, 0.5);
  margin-top:50px;
  position:absolute;
  margin-left:1450px;
  top: 0px;
  background: #f0f0f0;
  opacity: 1;
}

.hill0, .hill1, .hill2, .hill3, .plain {
  animation: slidein 2s ease-out; 
  transform: translateY(0%);
  display: block;
  rotate: 45deg;
}

@keyframes slideout {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slidein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes opacityIn {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityOut {
  from {
   opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.moon{
  animation: opacityIn 2s ease-out;
}

.selected{
  animation-name: slideout;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  transform: translateY(100%);
}

.moon.selected{
  animation-name: opacityOut;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  opacity: 0;
}

#moonEA.selected{
  display: none;
}

#moonEA:hover {
  animation: none;
  display: block;
  background: transparent url(../images/rei_ayanami_plush.png) no-repeat center center;
  opacity: 0.5;
  animation: transitionLobby 1s ease-out;; 
}

@keyframes moving-stars {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -1500px;
  }
}

#connexion {
  z-index: 500;
}

.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
  /*animation: moving-stars 400s linear infinite;*/
}

main #otherPlayer1 {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-content: center;
    flex-direction: row-reverse;
}

main #otherPlayer2 {
    display: block;
    margin:auto;
    flex-wrap :nowrap;
    flex-shrink: 0;
    grid-row-start: 2;
    grid-column-start:1;
}

main #otherPlayer3 {
  display: block;
  margin:auto;
  grid-row-start: 2;
  grid-column-start:3;
  
}

#otherPlayer1Name, #otherPlayer2Name, #otherPlayer3Name{
  margin: auto;
  font-family: "Hanami";
  color: white;
  font-size: x-large;
  text-shadow: hsl(0, 0%, 0%) 2px 2px 2px;
}

main #myCards {
  grid-row-start: 3;
  grid-column-start:2;
  display: flex;
  justify-content: center;
  align-items: end;
  
}

main #otherPlayer1Name {
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  
}

main #otherPlayer2Name {
  grid-row-start: 3;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

main #otherPlayer3Name {
  grid-row-start: 1;
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: end;
  
}

main #gameBoard {
  grid-row-start: 2;
  grid-column-start:2;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: inset 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  
}

main #playBtns {
  grid-row-start: 3;
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cardstack {
  height: 140px;
  width: 100px;
  margin: 90px 10px;
  border-radius: 10px;
  box-shadow: inset 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

#discard {
    height: 140px;
    width: 100px;
    margin: 90px 10px;
    border-radius: 10px;
    box-shadow: inset 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.cardstack:hover {
  box-shadow: 0 10px 30px 5px rgba(188, 219, 12, 1);
}

.cardstack .card:not(:first-child) {
  margin-top: -100px;
}

.card{
  display: flex;
  height: 140px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

#myCards .card {
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  bottom: 10px;
}

#myCards .card:not(:first-child) {
    margin-left: -50px;
}

#myCards .card:hover, #myCards .card.selectedCard {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

#myCards .card:hover ~ .card, #myCards .card.selectedCard ~ .card{
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

#otherPlayer1 .card {
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  right: 0px;
}

#otherPlayer1 .card:not(:first-child) {
    margin-right: -50px;
}

#otherPlayer1 .card:hover , #otherPlayer1 .card.selectedCard{
  transform: translateY(20px);
  transition: 0.4s ease-out;
}

#otherPlayer1 .card:hover ~ .card , #otherPlayer1 .card.selectedCard ~ .card{
  position: relative;
  right: 50px;
  transition: 0.4s ease-out;
}


#otherPlayer2 .card {
  rotate: 90deg;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  top: 0px;
  left: 0px
}

#otherPlayer2 .card:not(:first-child) {
    margin-top: -100px;
}

#otherPlayer2 .card:hover , #otherPlayer2 .card.selectedCard{
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

#otherPlayer2 .card:hover ~ .card , #otherPlayer2 .card.selectedCard ~ .card{
  position: relative;
  transition: 0.4s ease-out;
  top: 60px;
}


#otherPlayer3 .card {
  rotate: -90deg;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  top:0px;
}

#otherPlayer3 .card:not(:first-child) {
    margin-top: -100px;
}

#otherPlayer3 .card:hover , #otherPlayer3 .card.selectedCard{
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

#otherPlayer3 .card:hover ~ .card , #otherPlayer3 .card.selectedCard ~ .card{
  position: relative;
  top: 60px;
  transition: 0.4s ease-out;
}
  
body > div, body > input[type=radio] {
    display: none;   
}
        
input[type=radio]:checked + div {
    display: block;   
}
        
#logScreen {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}

#logScreen input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}

#lobbyScreen {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

#lobbyScreen > div {
  text-align: center;
  width: 800px;
  height:600px;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #000;
  padding : 10px;
}

#lobbyScreen input {
  margin: 0;
  padding: 3px;
  font-size: 80%;
}
#lobbyScreen input[type=button] {
  margin: 5px;
  padding: 3px;
  font-size: 80%;
  position:relative;
  bottom: -110px;
}

#lobbyScreen main, #lobbyScreen aside {
  background-color: #f0f0f0;
  box-shadow: inset 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  height: calc(100% - 20px);
  position: absolute;
  border-radius: 10px;
  margin: 10px;
}

#lobbyList h2{
  position:sticky;
}

#lobbyList ul {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#lobbyList li{
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  position: relative;
  left: -20px;
  background-color: #f0f0f0;
  box-shadow: inset 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

#lobbyList li:hover{
  background-color: #d0d0d0;
  cursor: pointer;
}

#lobbyScreen h2{
  font-family: "Hanami";
}
#lobbyScreen main {
  top: 0;
  left: 0;
  width: 250px;
}

#lobbyScreen aside {
  top: 0;
  right:0;
  width: 500px;
  
  padding: 10px;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

#btns, #playBtns{
  position: absolute;
  right: 0%;
  top:0%;
  height: 5%;
  width:20%;
  display:flex;
  z-index: 100; 
}

input[type=button] {
  background-color: transparent;
  cursor: pointer;
}

#btns > * {
  margin: auto;
  display: inline-block;
  font-family: "Hanami";
  text-shadow: #000 2px 2px 2px;
  width: 80px;
  height: 80px;
  font-size: 64px;
  color:#ffffff;
  font-weight: bolder;
  border:none;
  transition: 0.4s ease-out;
}

#playBtns > * {
  margin: auto;
  display:block;
  font-family: "Hanami";
  text-shadow: #000 2px 2px 2px;
  height: 100px;
  padding-left: 20px;
  font-size: 16px;
  color:#ffffff;
  font-weight: bolder;
  border:none;
  transition: 0.4s ease-out;
}

#content > footer {
  display: flex;
  justify-content: space-between;
}

#wrongAction {
  font-family: "Hanami";
  text-shadow: #000 2px 2px 2px;
  color: red;
  font-size: 20px;
  font-weight: bolder;
  animation: opacityIn 2s ease-out;
}

#nbHints {
  font-family: "Hanami";
  text-shadow: #000 2px 2px 2px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

#nbFails {
  font-family: "Hanami";
  text-shadow: #000 2px 2px 2px;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}

#btnCommencer:hover {
  color: rgb(6, 179, 6);
}

#btnQuitter:hover {
  color: rgb(248, 53, 53);
}

#btnAide:hover {
  color: rgb(0, 217, 255);
}